In [3]:
import tensorflow as tf
from tensorflow import keras 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [4]:
station_day = pd.read_csv("../Data/Delhi_air_quality_remove_index_col.csv")
station_day

,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
0,10/7/2017 17:00,46.17,134.06,10.98,31.61,10.20,29.71,0.16,26.60,53.64,0.09,1.08,0.09,212
1,10/7/2017 18:00,41.66,10.07,11.83,23.03,12.79,28.07,0.21,15.10,36.68,0.30,3.51,0.09,206
2,10/7/2017 19:00,34.13,120.27,14.89,22.16,14.31,32.91,0.22,15.14,28.09,0.48,4.17,0.09,202
3,10/7/2017 20:00,57.54,113.44,24.30,42.94,18.28,38.71,0.23,18.61,27.71,0.30,2.42,0.09,197
4,10/7/2017 21:00,78.04,105.27,25.18,24.65,17.00,58.68,0.35,16.42,16.99,0.43,2.88,0.08,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23931,6/30/2020 20:00,43.19,123.26,6.33,22.28,17.66,29.92,0.92,10.64,44.13,1.63,17.83,0.86,97
23932,6/30/2020 21:00,45.30,125.22,6.34,22.91,17.96,29.95,1.04,10.59,39.62,1.72,18.06,1.16,99
23933,6/30/2020 22:00,49.04,129.39,6.29,20.95,16.80,30.01,1.00,10.20,38.95,1.66,16.17,1.18,101
23934,6/30/2020 23:00,50.51,128.86,6.19,20.40,16.83,29.40,0.94,10.98,34.53,1.60,16.79,0.85,102
23935,7/1/2020 0:00,54.01,128.66,6.33,21.05,16.81,29.06,0.97,11.15,29.73,2.03,23.57,0.65,101

In [5]:
station_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23936 entries, 0 to 23935
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  23936 non-null  object
 1   PM2.5     23936 non-null  float64
 2   PM10      23936 non-null  float64
 3   NO        23936 non-null  float64
 4   NO2       23936 non-null  float64
 5   NOx       23936 non-null  float64
 6   NH3       23936 non-null  float64
 7   CO        23936 non-null  float64
 8   SO2       23933 non-null  float64
 9   O3        23936 non-null  float64
 10  Benzene   23936 non-null  float64
 11  Toluene   23936 non-null  float64
 12  Xylene    23903 non-null  float64
 13  AQI       23936 non-null  int64
dtypes: float64(12), int64(1), object(1)
memory usage: 2.6+ MB